


.cform {
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  margin-bottom: 0%;
  margin-top: 3.5%;
  margin-left: 34%;
  background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.3) 100%);
}


.form-container {
 
}


.cform .form-label {
  font-size: 16px;
  font-weight: bold;
}


.cform .form-control {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px 12px;
  width: 100%;
  font-size: 14px;
}


.cform .form-select {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px 12px;
  width: 100%;
  font-size: 14px;
  appearance: none;
}


.cform .btn-primary {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
}

.cform .btn-primary:hover {
  background-color: #0056b3;
}
